<div class="main-container">
  <div class="first-div">
    <div class="overlay">
      <div class="help">Help us create lasting change</div>
      <div class="Solving">
        Solving some of the world’s most complex and pressing problems takes
        real commitment and vision. Rotary members believe that we share a
        responsibility to take action to improve our communities. Join us, so
        that we can make an even bigger impact – together.
      </div>
      <div class="button">GET INVOLVED</div>
    </div>
  </div>
  <div class="second-div">
    <div class="img">
      <img src="assets/left.avif" alt="vf" />
    </div>
  </div>
</div>
