.auth{
    display: flex;

.img {
        background-image: url('/assets/login.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.5);
           
           
    }
    
}
.left{
    width: 50%;
}


@media (max-width:780px) {
    .img {
display: none;  
margin-right: auto;
margin-left: auto; 
 }
}