<div class="container">
  <div class="image-container">
    <img src="assets/mutiu.jpg" alt="Image" />
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-content">
        <h2 [ngStyle]="{ color: 'red' }">WE CONNECT PEOPLE</h2>
        <p>1.4 million members worldwide</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2 [ngStyle]="{ color: 'blue' }">WE TRANSFORM COMMUNITIES</h2>
        <p>Approximately 47 million volunteer hours each year</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2 [ngStyle]="{ color: 'green' }">WE FUND SUSTAINABLE PROJECTS</h2>
        <p>$333 million awarded for global service initiatives in 2020-21</p>
      </div>
    </div>

    <!-- Add more cards as needed -->
  </div>
</div>
