<div class="challenge">
  <div class="overlay">
    <div class="challenge-one">No challenge is too big for us</div>

    <div class="challenge-two">
      For more than a century, we’ve bridged cultures and connected continents.
      We champion peace, fight illiteracy and poverty, help people get access to
      clean water and sanitation, and fight disease. Our newest cause is to
      protect our planet and its resources.
    </div>
    <div>
      <div class="image-container">
        <div class="hover">
          <img src="assets/urch.jpg" alt="fef" />
          <h2>NWAIWU UCHECHI</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            laboriosam vel mollitia blanditiis magnam, sunt quisquam? Veniam
            molestias animi porro quo, voluptas dolores optio omnis ad odio
            velit! Temporibus, dolorem.
          </p>
        </div>
        <div class="hover">
          <img src="assets/malaika.jpg" alt="fef" />
          <h2>EGONU IKECHUKWU</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            laboriosam vel mollitia blanditiis magnam, sunt quisquam? Veniam
            molestias animi porro quo, voluptas dolores optio omnis ad odio
            velit! Temporibus, dolorem.
          </p>
        </div>
        <div class="hover">
          <img src="assets/mutiu.jpg" alt="fef" />
          <h2>MADU CHIBUEZE MUTIU</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            laboriosam vel mollitia blanditiis magnam, sunt quisquam? Veniam
            molestias animi porro quo, voluptas dolores optio omnis ad odio
            velit! Temporibus, dolorem.
          </p>
        </div>
        <div class="hover">
          <img src="assets/shovel.png" alt="fef" />
          <h2>JUDE AGUGUO</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            laboriosam vel mollitia blanditiis magnam, sunt quisquam? Veniam
            molestias animi porro quo, voluptas dolores optio omnis ad odio
            velit! Temporibus, dolorem.
          </p>
        </div>
        <div class="hover">
          <img src="assets/shovel.png" alt="fef" />
          <h2>NWAUGO JAACHIMMA</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            laboriosam vel mollitia blanditiis magnam, sunt quisquam? Veniam
            molestias animi porro quo, voluptas dolores optio omnis ad odio
            velit! Temporibus, dolorem.
          </p>
        </div>
        <div class="hover">
          <img src="assets/shovel.png" alt="fef" />
          <h2>OBIALOR ELSIE</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            laboriosam vel mollitia blanditiis magnam, sunt quisquam? Veniam
            molestias animi porro quo, voluptas dolores optio omnis ad odio
            velit! Temporibus, dolorem.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
